section{
  background-image: url(../../assets/stranger.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.layer{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}